html {
    background-image: linear-gradient(to left, white 0%, #facd8a 100%);
    height: 90%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 90%;
    height: 90%;
    background-color: white;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 1.5em;
    padding-right: 1.5em;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 5px 5px 0 0;

}

header {

    clear: both;
    border-bottom: 2px solid maroon;
    padding: 5px;
}
header h1 {
    font-size: 175%;
    color: maroon;
    text-indent: 30px;

}

header h2 {
    font-size: 130%;
    color: #800000;
    text-indent: 30px;
}

header img {
    float: left;
    margin-left: 0;
    height: 90px;
    width: 90px;
}

article {
    clear: left;
    width: 70%;
    float: left;
    column-count: 2;
    column-rule: 2px dotted maroon;
    column-gap: 2em;
    margin-left: 2em;
    margin-top: 0;

}

article h3 {

    column-span: all;
}

a:focus, a:hover{
    font-style: italic;
    color: blue;
    border-style: dotted solid;
    border: 3px;
}


article img {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
    width: 250px;
    height: 100px;
}

article p::first-letter {
    font-size: 3em;
    font-weight: bold;
    font-style: italic;
    color: lightgreen;
}

aside {
    width: 20%;
    float: right;
    background-color: #ffebc6;
    margin-top: 0;
    padding: 3px;

}

#list {
    line-height: 1.5em;
}

footer {

    clear: both;
    border-top: solid 2px maroon;
    text-align: center;
    font-size: small;
}

.fixed {
    background-color: lightgreen;
    width: auto;
    position: fixed;
    bottom: 35%;
    right: 1em;
    border: 3px solid darkgreen;
    padding: 1em;

}




